<h1><%= @user.username %></h1>

<div class= "index">
  <h3>My Leagues </h3>
  <% @leagues.each do |league| %>
    <ul>
    <%= link_to league.name, league_path(league) %>
  </ul>
  <% end %>
</div>

<div class= "index">
  <h3>My Teams </h3>
  <% @teams.each do |team| %>
    <ul>
    <%= link_to team.name, league_team_path(team.league, team) %>
  </ul>
  <% end %>
</div>

<% if current_user.id == @user.id %>
  <%= button_to "Create a League", new_league_path, method: :get%>
<% end %>
