<h1> <%= @league.name %> Draft Page </h1>

<h4> Draft Order </h4>
<ol>
  <% session[:draft_order].each do |team_id| %>
      <% team = Team.find(team_id) %>
  <li> <%= team.user.username %> </li>
  <% end %>
</ol>

<%= button_to "1st Overall Pick", league_team_position_select_path(@league, @first_team), method: :get %>
